/target
/build
/classes
/checkouts
pom.xml.asc
target/*.jar
target/*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.idea
.gradle
*.txt
*.org
spec.md
.ensime
.ensime_cache.d
.meghanada
secrets.yml
.classpath
.project
.settings
